*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

body {
font-family: Arial, Helvetica, sans-serif;
background-color:rgb(212, 212, 212);
flex-direction: column;
min-height: 100vh; 
}


header {
background-color: #093a6e;
text-align: center;
padding: 20px;
color: white;
max-width:100%;

}

h1 {
font-size: 70px;
}
  

ul {

list-style-type: none;;
padding-top: 10px;
text-align: center;

}

li {
text-align: left;

}

  .box {
   float: left;
  padding-top: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 black;
  border: 1px solid black;
  min-height: 28vh;
  min-width: 23vh;
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: #f1f1f1;


}

.card {
  box-shadow: 0 4px 8px 0 black;
  flex-direction: left;
  background-color: #f1f1f1;
  padding: 25px;
  border: 1px solid black;
  min-height: 40vh;
  margin-right: 20px;
  margin-bottom: 10px;
  overflow-block: column;


}


.column {
  max-width: 22%;
  
}


#sidebar {
float: left;
width: 250px;
padding-left: 20px;
padding-right: 20px;
background-color:  #093a6e;
margin-right: 10px;
padding-bottom:80px;
min-height: 80vh;

}


form {
padding-top: 10px;

}

input, button {
margin-bottom: 20px;

}


button {
background-color: lightblue;
border: 1px solid black;
}

button a:hover {
  background-color: rgb(51, 49, 49);
}

#backBtn {
 float: left;
 width: 210px;
 
}


  @media screen and (max-width: 600px) {
  .flex-box {
      flex-direction: row;
      
    }
      
  }
    

  @media screen and (min-width: 400px) {
#sidebar {
    max-width: 100%
    
    }


  }

  

@media screen and (max-height: 400px) {
    #sidebar {
      padding-top: 15px;
    }
    
}


@media screen and (max-width: 480px) {

  h1 {
  font-size: 35px; 
    
}
  
  .card {
  max-width: 100%;
  margin: 10px;

    }

}


@media screen and (max-width: 340px) {

  h1 {
    
    font-size: 25px
        
  }

}
  

@media screen and (max-width: 300px) {
  #backBtn {
    visibility: hidden;
   
  }

}


 


 
