*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

body {
font-family: Arial, Helvetica, sans-serif;
background-color:rgb(212, 212, 212);
flex-direction: column;
min-height: 100vh; 
min-width: 100vh;
}


header {
background-color: #093a6e;
text-align: center;
padding: 20px;
color: white;
max-width:100%;

}

h1 {
font-size: 70px;
}

#city-input:first-letter {
  text-transform: uppercase;
}
  

ul {

list-style-type: none;
padding-top: 10px;
text-align: center;

}

li {
text-align: left;

}
 
#result-content {
  list-style-type: none;
}


 
.card {
  box-shadow: 0 4px 8px 0 black;;
  flex-wrap: wrap;; 
  background-color: #f1f1f1;
  padding: 25px;
  border: 1px solid black;
  min-height: 45vh;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  overflow-block: column;
  max-width: 110vh;
}


.box {
 flex-direction: column;
 float: left;
 padding-top: 10px;
 box-shadow: 0 4px 8px 0 black;
 border: 1px solid black;
 min-height: 25vh;
 min-width: 23vh;
 border-radius: 5px;
 margin-bottom: 5px;
 padding-left: 10px;
 margin-left: 20px;
 background-color: #f1f1f1;

}

.box2:first-child{
  flex-direction: column;
  display: inline-flex;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 black;
  border: 1px solid black;
  min-height: 25vh;
  min-width: 23vh;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-left: 20px;
  background-color: #f1f1f1;
  

} 

.box3{
  flex-direction: column;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 black;
  border: 1px solid black;
  min-height: 25vh;
  min-width: 23vh;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-left: 20px;
  background-color: #f1f1f1;
  


} 

.box4{

  flex-direction: column;;
  flex-wrap: wrap;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 black;
  border: 1px solid black;
  min-height: 25vh;
  min-width: 23vh;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-left: 20px;
  background-color: #f1f1f1;
  
}

.column {
  max-width: 22%  
  
}



#sidebar {
float: left;
width: 240px;
padding-left: 20px;
padding-right: 20px;
background-color:  #093a6e;
margin-right: 20px;
min-height: 80vh;
padding-bottom: 30px;

}


form {
padding-top: 10px;

}

input, button {
margin-bottom: 20px;

}


button {
background-color: lightblue;
border: 1px solid black;
}

button a:hover {
  background-color: rgb(51, 49, 49);
}

#backBtn {
 float: left;
 width: 210px;
 
}
  

@media screen and (max-width: 1200px) {

.card {
flex-direction: column;
flex-wrap: wrap;

}


}

@media screen and (max-width: 1200px) {

.row {
grid-column: 1;
float: left;
    
}


    
}


  @media screen and (min-width: 400px) {
#sidebar {
    max-width: 100%;
  
  }


  }
  

@media screen and (max-height: 400px) {
    #sidebar {
      padding-top: 15px;
    }
    
}


@media screen and (max-width: 480px) {

  h1 {
  font-size: 35px; 
    
}
  
  .card {
  max-width: 100%;
  margin: 10px;

    }

}


@media screen and (max-width: 340px) {

  h1 {
    
    font-size: 25px
        
  }

}
  
@media screen and (max-width: 300px) {
  #backBtn {
    visibility: hidden;
   
  }

}

